{% extends "index.html" %}

{% load static %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block data_app %}classification::upload{% endblock data_app %}

{% block main_menu %}{% nav_active 'menu_media_classification' %}{{ block.super }}{% endblock main_menu %}

{% block scripts_append %}
    <link rel="stylesheet" href="https://unpkg.com/frictionless-components/dist/frictionless-components.css">
    <script type="module" src="https://unpkg.com/frictionless-components/dist/frictionless-components.js"></script>
    <style>
      body {background-color: white;}
    </style>
{% endblock scripts_append %}

{% block content %}
<div class="container" style="">
  <div class="alert alert-danger">
    <p>
      <strong>Error:</strong>
      Unfortunately, your table could not be imported; correct all the errors listed below and try again.
      {% if report %} Please note that the number of reported errors is limited to 100. {% endif %}
    </p>
    <p>
      {% if exception %} <strong>{{ exception }}</strong> {% endif %}
    </p>
  {% if error_type == "column-missing" %}
    <p>Provided columns: <strong>{{ provided_columns }}</strong></p>
    <p>Required columns: <strong>{{ required_columns }}</strong></p>
  {% endif %}
  </div>
  {% if report %}
  <div class="col-md-12" style="padding:0;" id="report"></div>
  <script type="module">
    const report = {{ report|safe }};
    const element = document.getElementById("report");
    const frictionlessComponents = window.frictionlessComponents;
    frictionlessComponents.render(frictionlessComponents.Report, {report}, element);
  </script>
  {% endif %}
</div>
{% endblock content %}
