{% extends "common/base_mail_template.html" %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
    {% blocktranslate with team_leader_full_name=team_leader.get_full_name %}
        <h2 class="align-center">You have been removed from the team "{{ team_name }}"</h2>
        <p class="align-center">You have been removed by Team Leader {{ team_leader_full_name }} ({{ team_leader }}). If you think it was a mistake please contact the Team Leader.</p>
    {% endblocktranslate %}
    {% endautoescape %}
{% endblock %}
