{% extends "common/base_mail_template.html" %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
    {% blocktranslate with ex_user_full_name=ex_user.get_full_name%}
        <h2 class="align-center">Teammate has left the team "{{ team_name }}"</h2>
        <p class="align-center">{{ ex_user_full_name }} ({{ ex_user }}) has left the group {{ team_name }}.</p>
    {% endblocktranslate %}
    {% endautoescape %}
{% endblock %}
