{% load i18n %}

<div class="ngCellText" ng-class="col.colIndex()">
  <a href="#myModal" data-toggle="modal"><img class="media-object" src="/media/{{row.getProperty(col.field)}}"/></a>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Modal title" %}</h4>
      </div>
      <div class="modal-body">
        <img class="thumbnail" width="640px" height="480px" src="/media/{{row.getProperty(col.field)}}"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary">{% trans "Save changes" %}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
