{% extends "common/grid.html" %}

{% load i18n %}

{% block breadcrumbs %}
<div class="row">
  <div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <span class="fa fa-flask"></span> <a href="{% url 'research:project_detail' pk=grid_context.project.research_project.pk %}">{{ grid_context.project.research_project.acronym }}</a> >
        <span class="fa fa-cubes"></span> <a href="{% url 'media_classification:project_detail' pk=grid_context.project.pk %}">{{ grid_context.project.name }}</a> > <strong>{% trans "Users' classifications" %}</strong>
      </h2>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block filters %}

<div class="form-group form-filter">
  <label for="type" class="control-label">{% trans "File type" %}</label>
  <select
     id="type"
     class="form-control"
     filter-text="ftype"
     filter-service="filter"
     ng-model="filters.ftype"
     ng-options="option.value as option.label for option in optionList.media">
  </select>
</div>

<div class="form-group form-filter">
  <label for="approved" class="control-label">{% trans "Approved" %}</label>
  <select
     id="approved"
     class="form-control"
     filter-text="approved"
     filter-service="filter"
     ng-model="filters.approved"
     ng-options="option.value as option.label for option in optionList.bool">
  </select>
</div>

<div class="form-group form-filter">
  <label for="bboxes" class="control-label">{% trans "Bboxes" %}</label>
  <select
     id="bboxes"
     class="form-control"
     filter-text="bboxes"
     filter-service="filter"
     ng-model="filters.bboxes"
     ng-options="option.value as option.label for option in optionList.bool">
  </select>
</div>

<div class="form-group form-filter">
  <label for="feedback" class="control-label">{% trans "Feedback" %}</label>
  <select
     id="feedback"
     class="form-control"
     filter-text="feedback"
     filter-service="filter"
     ng-model="filters.feedback"
     ng-options="option.value as option.label for option in optionList.bool">
  </select>
</div>

<div class="form-group form-filter">
  <label for="observation_type" class="control-label">{% trans "Observation" %}</label>
  <select
     id="observation_type"
     class="form-control"
     filter-text="observation_type"
     filter-service="filter"
     ng-model="filters.observation_type"
     ng-options="option.value as option.label for option in optionList.observation_type">
  </select>
</div>

    <div class="form-group form-filter-full">
  <label for="users" class="control-label">{% trans "Users" %}</label>
  <select
     type="text"
     id="users"
     class="select2-default"
     multiple
     ng-model="filters.user"
     filter-tokens="resource.user_id"
     filter-service="filter">
    {% for user in grid_context.users %}
    <option value="{{ user.0 }}">{{ user.1 }}</option>
    {% endfor %}
  </select>
</div>

<div class="form-group form-filter-full">
  <label for="collections" class="control-label">{% trans "Collections" %}</label>
  <select
     type="text"
     id="collection"
     class="select2-default"
     multiple
     ng-model="filters.collection"
     filter-tokens="collection.name"
     filter-service="filter">
    {% for collection in grid_context.collections %}
    <option value="{{ collection.0 }}">{{ collection.1 }}</option>
    {% endfor %}
  </select>
</div>

<div class="form-group form-filter-full">
  <label for="deployments" class="control-label">{% trans "Deployments" %}</label>
    <input
     type="text"
     class="select2ajax"
     multiple="true"
     id="deployment"
     ng-model="filters.deployment"
     filter-tokens="deployment"
     filter-api-url='{% url "geomap:api-deployment-list" %}?classification_project={{ grid_context.project.pk }}'
     filter-text-label="deployment_id"
     filter-id-label="pk"
     filter-multiple="true"
     filter-service="filter">
  </input>
</div>

<div class="form-group form-filter-full">
  <label for="species" class="control-label">{% trans "Species" %}</label>
  <input
     type="text"
     class="select2ajax"
     multiple="true"
     id="species"
     ng-model="filters.species"
     filter-tokens="species"
     filter-api-url='{% url "extra_tables:api-species-list" %}'
     filter-text-label="__str__"
     filter-id-label="pk"
     filter-multiple="true"
     filter-service="filter">
  </input>
</div>

{% endblock %}

{% block my_objects %}
{% if user.is_authenticated %}
<button
   type="button"
   class="btn btn-default"
   ng-class="{ active: filters.owner }"
   ng-model="filters.owner"
   ng-init="filters.owner = false"
   ng-click="filterOwner()"
   filter-checkbox="{ name: 'owner', value: '{{ user.pk }}' }"
   filter-service="filter">{% trans "My classifications" %}</button>
{% endif %}
{% endblock %}

{% block custom_actions_list %}
{% if grid_context.is_admin %}
<li>
  <action-approve-selected ng-click="execute($event, '{% url "media_classification:user_classification_bulk_approve" pk=grid_context.project.pk %}')">
  </action-approve-selected>
</li>
<li>
  <action-remove-selected ng-click="execute($event, '{% url "media_classification:user_classification_delete_multiple" %}')">
  </action-remove-selected>
</li>
{% endif %}
{% endblock%}

{% block table_cells %}

<td data-title="'Thumbnail'">
  <div
    ng-if="record.resource.resource_type == 'I'"
    data-src="{[{ record.resource.url }]}"
    class="img-thumbnail"
    ng-click="openGallery($event)"
    title="{[{ record.resource.name }]}">
    <img ng-src="{[{ record.resource.thumbnail_url }]}"/>
  </div>
  <div ng-if="record.resource.resource_type == 'V'" style="display:none;" id="video{[{ $index }]}">
    <video class="lg-video-object lg-html5 video-js" controls preload="none">
      <source src="{[{ record.resource.url }]}#t=0.1" type="{[{ record.resource.mime }]}">
    </video>
  </div>
  <div
    ng-if="record.resource.resource_type == 'V'"
    data-html="#video{[{ $index }]}"
    class="img-thumbnail"
    ng-click="openGallery($event)"
    title="{[{ record.resource.name }]}">
    <img ng-src="{[{ record.resource.thumbnail_url }]}"/>
  </div>
</td>
<td data-title="'Type'" sortable="'resource.resource_type'" ng-bind-html="record.resource.resource_type | typesIcon"></td>
<td data-title="'Name'" sortable="'resource.name'">{[{ record.resource.name }]}</td>
<td data-title="'Date recorded'">{[{ record.resource.date_recorded | dateTZ: dateFormat.table }]}</td>
<td data-title="'User'" sortable="'owner'"><a ng-href="{[{ record.owner_profile }]}">{[{ record.owner }]}</a></td>
<td data-title="'Updated'">{[{ record.updated_at | dateTZ: dateFormat.table }]}</td>
<td data-title="'Approved'" ng-bind-html="record.approved | classifiedIcons"></td>
<td data-title="'Attributes'">
  <h6>{% trans "Static attributes" %}:</h6>
  <div class="tags-list">
    <span 
       ng-repeat="(label, tag) in record.static_attrs" 
       ng-if="label != 'comments' && label != 'annotations'"
       class="label label-success">{[{ label }]}: {[{ tag }]}
    </span>
  </div>
  <h6>{% trans "Dynamic attributes" %}:</h6>
  <div class="tags-list" ng-repeat="dynamic_attr in record.dynamic_attrs" ng-init="tagIndex = $index">
    <span
       ng-repeat="(label, tag) in dynamic_attr"
       class="label" title="{[{ tag }]}"
       ng-class="{'label-default': tagIndex % 2 == 0, 'label-success': tagIndex % 2 != 0}">{[{ label }]}: {[{ tag }]}</span>
  </div>
</td>

{% endblock %}

{% block table_cells_extra_actions %}
<action-user-classification-details ng-click="execute($event, record, {{grid_context.project.deployment_based_nav|yesno:'true,false'}})">
</action-user-classification-details>
{% endblock %}

