{% load i18n common_tags %}

<form id="classify-form" action="." method="post" class="form-classificator-rows" novalidate="novalidate">
    {% csrf_token %}
    <fieldset>
        <div class="panel panel-default">
            {% if static_form %}
                <div class="panel-heading">
                    <h2 class="panel-title">{% trans "Static attributes" %}</h2>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        {% for field in static_form %}
                            <th {% if field.field.required %}class="form-required"{% endif %}>
                                <span>{{ field.label }}</span>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for field in static_form %}
                            <td>{{ field|as_crispy_non_label_field }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if dynamic_form %}
                <div class="panel-heading">
                    <h2 class="panel-title">{% trans "Dynamic attributes" %}</h2>
                </div>
                <table id="table-repeatable" class="table" data-name="form">
                    <thead>

                      <tr>
			{% if resource_type == "I" %}<th>{% trans "Label" %}</th>{% endif %}
                        {% for field in dynamic_form_template.visible_fields %}
                            <th {% if field.field.required %}class="form-required"{% endif %}>
                                <span>{{ field.label }} {% if field.field.required %}*{% endif %}</span>
                            </th>
                        {% endfor %}
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for form in dynamic_form %}
                        <tr>
		            {% if resource_type == "I" %}
                                <td><span class="label label-success">bbox{{ forloop.counter }}</span></td>
			    {% endif %}
                            {% for field in form.visible_fields %}
                                <td>{{ field|as_crispy_non_label_field }}</td>
                            {% endfor %}
                            {% for field in form.hidden_fields %}
                                {{ field|as_crispy_non_label_field }}
                            {% endfor %}
                            <td>
                                {% if not is_readonly %}
                                    <button type="button" class="btn btn-danger btn-remove-row pull-right">
                                        <span class="fa fa-remove"></span>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    {% if not is_readonly %}
                        <tfoot>
                        <tr>
                            <td colspan="100%">
                                <button type="button" class="btn btn-success btn-add-row pull-right">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </td>
                        </tr>
                        </tfoot>
                    {% endif %}
                    {{ dynamic_form.management_form }}
                </table>
            {% endif %}
            <div class="panel-footer">
                {% include 'media_classification/classifications/classify/form_button_box.html' %}
            </div>
        </div>
    </fieldset>
</form>
<div class="hidden">
    <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr id="dynamic-form-row-template">
	    {% if resource_type == "I" %}<td></td>{% endif %}
            {% for field in dynamic_form_template.visible_fields %}
                <td>{{ field|as_crispy_non_label_field }}</td>
            {% endfor %}
            {% for field in dynamic_form_template.hidden_fields %}
                {{ field|as_crispy_non_label_field }}
            {% endfor %}
            <td>
                <button type="button" class="btn btn-danger btn-remove-row pull-right">
                    <span class="fa fa-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
</div>
