{% load i18n %}

<div class="row">
  
  <div class="col-md-12" ng-cloak>
    <div class="row">
      <!-- filters -->
      <div class="col-md-8">
	<div class="panel panel-default">
	  <div class="panel-heading">
            <h2 class="panel-title">{% trans "Filters" %}</h2>
	  </div>
	  <div class="panel-body">
            <div class="form-group form-filter-full">
	      <label for="deployments" class="control-label">{% trans "Deployments" %}</label>
	      <input
		type="text"
		class="select2ajax"
		id="deployment"
		ng-model="filters.deployment"
		filter-tokens="deployment"
		filter-api-url='{% url "geomap:api-deployment-list" %}?classification_project={{ project.pk }}'
		filter-text-label="deployment_id"
		filter-id-label="pk"
		filter-multiple="false"
		filter-init-label={{ resource.deployment }}
		filter-service="filter">
           </input>
            </div>
	    
            <button type="button" class="btn btn-success" ng-click="reload()">
	      <span class="fa fa-search"></span> {% trans "Filter" %} {{ grid_context.model_name }}
            </button>
            <div class="btn-selects">
	      <button type="button" class="btn btn-default" ng-click="saveFilters()">{% trans "Save filters" %}</button>
	      <button type="button" class="btn btn-warning" ng-click="filter.clearFilters()">{% trans "Clear filters" %}</button>
	      <button type="button" class="btn btn-danger" ng-click="clearSelection()">{% trans "Clear selections" %}</button>
            </div>
	  </div>
	</div>
      </div>
    
      {% if project.is_sequencing_enabled %}
      <div class="col-md-4">
	<div class="panel panel-default">
	  <div class="panel-heading">
            <h2 class="panel-title">{% trans "Sequence" %}</h2>
	  </div>

	  <div class="panel-body">
	    <div class="form-group">
              <select
		id="sequence-picker"
		class="select2"
		ng-model="sequences.selected"
		ng-change="sequenceChanged()"
		ng-options="seq as 'Sequence: '+seq.sequence_id for seq in sequences.original track by seq.sequence_id">
              </select>
              {% if collection.is_sequencing_enabled %}
	    </div>
	    <div>
	      <button type="button" class="btn btn-primary" ng-click="saveSequence('{% url "media_classification:sequence_change" %}')">
		{% trans "Save sequence" %}
	      </button>
	      <button type="button" class="btn btn-danger" ng-click="deleteSequence('{% url "media_classification:sequence_delete" %}')">
		{% trans "Delete" %}
	      </button>
	    </div>
            {% endif %}
	  </div>
	</div>
      </div>
      {% endif %}
    </div>

    <div class="row">
      <div class="col-md-12">
	<div class="panel panel-default">
	  
	  <div class="panel-heading">
            <h2 class="panel-title" style="display:inline">{% trans "Resources" %}</h2>
            <div class="pull-right">
              {% trans "Total in collection" %}: <strong>{[{ data.pagination.total }]}</strong> |
              {% trans "Filtered" %}: <strong>{[{ data.pagination.filtered }]}</strong> |
              {% trans "Selected" %} <strong>{[{ data.selectedCounter }]}</strong>
            </div>
	  </div>
	  
	  <div class="panel-body panel-scroll">	  
	    <div id="lightgallery" class="col-md-12">
	      <div class="panel-sequence" style="width:170px;"
	    	   ng-repeat="record in data.records track by record.pk"
	    	   ng-click="select($event, record)"
	    	   ng-class="{'selected': record.$selected, 'approved': record.classification_data.is_approved, 'current': record.pk === current }">
		<div class="panel-seq-list" ng-if="record.sequence" ng-click="sequenceSelected($event, record.sequence)" title="{% trans "Click to select" %}">
	    	  <span class="badge">{[{ record.sequence }]}</span>
		</div>
		<span
		  ng-if="record.classification_data.has_bboxes_classified && !record.classification_data.has_bboxes_approved"
		  class="badge badge-bboxes-classified"
		  title="{% trans "Bboxes" %}">
		  <span class="fa fa-hand-pointer-o"></span>
		</span>
		<span
		  ng-if="record.classification_data.has_bboxes_approved"
		  class="badge badge-bboxes-approved"
		  title="{% trans "Bboxes" %}">
		  <span class="fa fa-hand-pointer-o"></span>
		</span>
		<span
		  ng-if="record.classification_data.is_classified && !record.classification_data.is_approved"
		  class="badge badge-classified"
		  title="{% trans "Classified" %}">
		  <span class="fa fa-check"></span>
		</span>
		<span ng-if="record.classification_data.is_approved" class="badge badge-approved" title="{% trans "Approved" %}">
		  <span class="fa fa-check"></span>
		</span>
		<div ng-if="record.resource_type == 'I'" data-src="{[{ record.url }]}" class="img-thumbnail" ng-click="openGallery($event)" title="{[{ record.name }]}">
	      	  <img ng-src="{[{ record.thumbnail_url }]}"/>
		</div>
		<div ng-if="record.resource_type == 'V'" style="display:none;" id="video{[{ $index }]}">
	      	  <video class="lg-video-object lg-html5 video-js" controls preload="none">
	      	    <source src="{[{ record.url }]}#t=0.1" type="{[{ record.mime }]}">
	      	  </video>
		</div>
		<div ng-if="record.resource_type == 'V'" data-html="#video{[{ $index }]}" class="img-thumbnail" ng-click="openGallery($event)" title="{[{ record.name }]}">
	      	  <img ng-src="{[{ record.thumbnail_url }]}"/>
		</div>
		<ul>
	      	  <li class="panel-name">
	      	    <span ng-bind-html="record.resource_type | typesIcon"></span> {[{ record.name }]}
	      	  </li>
	      	  <li>{[{ record.date_recorded | dateTZ: dateFormat.table }]}</li>
		</ul>
		<a ng-if="!record.classification_data.is_approved" ng-href="{[{ record.classification_data.url }]}" class="btn btn-sm btn-default btn-block">
	      	  <span class="fa fa-eye"></span> {% trans "Classify" %}
		</a>
		<a ng-if="record.classification_data.is_approved" ng-href="{[{ record.classification_data.url }]}" class="btn btn-sm btn-success btn-block">
	      	  <span class="fa fa-eye"></span> {% trans "Approved" %}
		</a>
              </div>
	    </div>
	  </div>
	
	  <div class="panel-footer">
            <button class="btn btn-default btn-first">{% trans "first" %}</button>
            <button class="btn btn-default btn-current">{% trans "current" %}</button>
            <button class="btn btn-default btn-last">{% trans "last" %}</button>
            <div class="form-group pull-right">
              <select
		class="form-control"
		ng-model="filters.size"
		ng-options="option as option for option in sequenceSizes"
		ng-change="load_resources(data.request.Resurl, {size: filters.size}, true)">
              </select>
            </div>
	  </div>
	</div>
      </div>
    </div>
  </div>

</div>
