{% load i18n %}

<div class="row">
  <div class="col-md-12" ng-cloak>

    <div class="row">
      <div class="col-md-12">
	<div class="panel panel-default">
	  
	  <div class="panel-heading">
	    <action-classify-form-modal class="btn-success" id="btn-classify" ng-click="execute('{% url "media_classification:classify_form" project.pk %}')">
	    </action-classify-form-modal>
	    <button id="btn-clear-selection" type="button" class="btn btn-danger" ng-click="clearSelection()">{% trans "Clear selections" %}
	    </button>
            <div class="pull-right">
              {% trans "Total in collection" %}: <strong>{{ total_collection }}</strong> |
              {% trans "Filtered" %}: <strong>{[{ data.pagination.count }]}</strong> |
              {% trans "Selected" %} <strong>{[{ data.selectedCounter }]}</strong>
            </div>
	  </div>
	  
	  <div class="panel-body">	  
	    <div id="lightgallery" class="col-md-12">
	      <div class="panel-sequence" style="min-height:200px"
	    	   ng-repeat="record in data.records track by record.pk"
	    	   ng-click="select($event, record)"
	    	   ng-class="{'selected': record.$selected, 'approved': record.classification_data.is_approved, 'current': record.pk === current }">
		<div class="panel-seq-list" ng-if="record.sequence" ng-click="sequenceSelected($event, record.sequence)" title="{% trans "Click to select" %}">
	    	  <span class="badge">{[{ record.sequence }]}</span>
		</div>
		<span
		  ng-if="record.classification_data.has_bboxes_classified && !record.classification_data.has_bboxes_approved"
		  class="badge badge-bboxes-classified"
		  title="{% trans "Bboxes" %}">
		  <span class="fa fa-hand-pointer-o"></span>
		</span>
		<span
		  ng-if="record.classification_data.has_bboxes_approved"
		  class="badge badge-bboxes-approved"
		  title="{% trans "Bboxes" %}">
		  <span class="fa fa-hand-pointer-o"></span>
		</span>
		<span
		  ng-if="record.classification_data.is_classified && !record.classification_data.is_approved"
		  class="badge badge-classified"
		  title="{% trans "Classified" %}">
		  <span class="fa fa-check"></span>
		</span>
		<span ng-if="record.classification_data.is_approved" class="badge badge-approved" title="{% trans "Approved" %}">
		  <span class="fa fa-check"></span>
		</span>
		<div
		  ng-if="record.resource_type == 'I'"
		  data-src="{[{ record.url }]}"
		  class="img-thumbnail"
		  ng-click="openGallery($event)"
		  title="{[{ record.name }]} {[{ record.date_recorded | dateTZ: dateFormat.table }]}">
	      	  <img ng-src="{[{ record.thumbnail_url }]}"/>
		</div>
		<div ng-if="record.resource_type == 'V'" style="display:none;" id="video{[{ $index }]}">
	      	  <video class="lg-video-object lg-html5 video-js" controls preload="none">
	      	    <source src="{[{ record.url }]}#t=0.1" type="{[{ record.mime }]}">
	      	  </video>
		</div>
		<div
		  ng-if="record.resource_type == 'V'"
		  data-html="#video{[{ $index }]}"
		  class="img-thumbnail"
		  ng-click="openGallery($event)"
		  title="{[{ record.name }]} {[{ record.date_recorded | dateTZ: dateFormat.table }]}">
	      	  <img ng-src="{[{ record.thumbnail_url }]}"/>
		</div>
		<ul>
	      	  <li>
	      	    <span ng-bind-html="record.resource_type | typesIcon"></span> {[{ record.name }]}
	      	  </li>
	      	  <li>{[{ record.date_recorded | dateTZ: dateFormat.simple }]}</li>
		</ul>
		<a ng-href="{[{ record.classification_data.url }]}" class="btn btn-xs btn-default btn-inline">
	      	  <span class="fa fa-eye"></span> {% trans "Details" %}
		</a>
		<action-classify-form-modal class="btn-xs" ng-click="execute('{% url "media_classification:classify_form" project.pk %}', record)">
		</action-classify-form-modal>
              </div>
	    </div>
	  </div>
	  
	  <div class="panel-footer form-inline">
	    <div class="form-group">
	      {% include 'media_classification/classifications/classify/pagination.html' %}
	    </div>
	  </div>
	      
	</div>

	<div class="row">
	  <!-- filters -->
	  <div class="col-md-8">
	    <div class="panel panel-default">
	      <div class="panel-heading">
		<h2 class="panel-title">{% trans "Filters" %}</h2>
	      </div>
	      <div class="panel-body">
		<div class="form-group form-filter-full">
		  <label for="deployments" class="control-label">{% trans "Deployments" %}</label>
		  <input
		    type="text"
		    class="select2ajax"
		    id="deployment"
		    ng-model="filters.deployment"
		    filter-tokens="deployment"
		    filter-api-url='{% url "geomap:api-deployment-list" %}?classification_project={{ project.pk }}'
		    filter-text-label="deployment_id"
		    filter-id-label="pk"
		    filter-multiple="false"
		    filter-service="filter">
		  </input>
		</div>
		<div class="form-group form-filter-full">
		  <label for="species" class="control-label">{% trans "Species" %}</label>
		  <input
		    type="text"
		    class="select2ajax"
		    multiple="true"
		    id="species"
		    ng-model="filters.species"
		    filter-tokens="species"
		    filter-api-url='{% url "extra_tables:api-species-list" %}'
		    filter-text-label="__str__"
		    filter-id-label="pk"
		    filter-multiple="true"
		    filter-service="filter">
                  </input>
		</div>
		<div class="form-group form-filter-wide">
		  <label for="type" class="control-label">{% trans "File type" %}</label>
		  <select
		    id="type"
		    class="form-control"
		    filter-text="ftype"
		    filter-service="filter"
		    ng-model="filters.ftype"
		    ng-options="option.value as option.label for option in optionList.media">
		  </select>
		</div>
		<div class="form-group form-filter-wide">
		  <label for="bboxes" class="control-label">{% trans "Bboxes" %}</label>
		  <select
		    id="bboxes"
		    class="form-control"
		    filter-text="bboxes"
		    filter-service="filter"
		    ng-model="filters.bboxes"
		    ng-options="option.value as option.label for option in optionList.bool">
		  </select>
		</div>
		<div class="form-group form-filter-wide">
		  <label for="classified" class="control-label">{% trans "Classified" %}</label>
		  <select
		    id="classified"
		    class="form-control"
		    filter-text="classified"
		    filter-service="filter"
		    ng-model="filters.classified"
		    ng-options="option.value as option.label for option in optionList.bool">
		  </select>
		</div>
		<div class="form-group form-filter-wide">
		  <label for="classified" class="control-label">{% trans "Classified AI" %}</label>
		  <select
		    id="classified_ai"
		    class="form-control"
		    filter-text="classified_ai"
		    filter-service="filter"
		    ng-model="filters.classified_ai"
		    ng-options="option.value as option.label for option in optionList.bool">
		  </select>
		</div>
		<div class="form-group form-filter-wide">
		  <label for="status" class="control-label">{% trans "Approved" %}</label>
		  <select
		    id="status"
		    class="form-control"
		    filter-text="status"
		    filter-service="filter"
		    ng-model="filters.status"
		    ng-options="option.value as option.label for option in optionList.bool">
		  </select>
		</div>
		<div class="form-group form-filter-wide">
		  <label for="classified" class="control-label">{% trans "Approved AI" %}</label>
		  <select
		    id="status_ai"
		    class="form-control"
		    filter-text="status_ai"
		    filter-service="filter"
		    ng-model="filters.status_ai"
		    ng-options="option.value as option.label for option in optionList.bool">
		  </select>
		</div>
        <div class="form-group form-filter-wide">
          <label for="classified" class="control-label">{% trans "Observation type" %}</label>
          <select
                  id="observation_type"
                  class="form-control"
                  filter-text="observation_type"
                  filter-service="filter"
                  ng-model="filters.observation_type"
                  ng-options="option.value as option.label for option in optionList.observation_type">
          </select>
        </div>
		<button type="button" class="btn btn-success" ng-click="reload()">
		  <span class="fa fa-search"></span> {% trans "Filter" %} {{ grid_context.model_name }}
		</button>
		<div class="btn-selects">
		  <button type="button" class="btn btn-default" ng-click="saveFilters()">{% trans "Save filters" %}</button>
		  <button type="button" class="btn btn-warning" ng-click="filter.clearFilters()">{% trans "Clear filters" %}</button>
		  <button
		    type="button"
		    class="btn btn-warning"
		    ng-click="load_resources(data.request.urlRes, {clear_cache: true}, true)">{% trans "Clear cache" %}
		  </button>

		</div>
	      </div>
	    </div>
	  </div>
	  
	  {% if project.is_sequencing_enabled %}
	  <div class="col-md-4">
	    <div class="panel panel-default">
	      <div class="panel-heading">
		<h2 class="panel-title">{% trans "Sequence" %}</h2>
	      </div>

	      <div class="panel-body">
		<div class="form-group">
		  <select
		    id="sequence-picker"
		    class="select2"
		    ng-model="sequences.selected"
		    ng-change="sequenceChanged()"
		    ng-options="seq as 'Sequence: '+seq.sequence_id for seq in sequences.original track by seq.sequence_id">
		  </select>
		  {% if collection.is_sequencing_enabled %}
		</div>
		<div>
		  <button type="button" class="btn btn-primary" ng-click="saveSequence('{% url "media_classification:sequence_change" %}')">
		    {% trans "Save sequence" %}
		  </button>
		  <button type="button" class="btn btn-danger" ng-click="deleteSequence('{% url "media_classification:sequence_delete" %}')">
		    {% trans "Delete" %}
		  </button>
		</div>
		{% endif %}
	      </div>
	    </div>
	  </div>
	  {% endif %}
	</div>
	
      </div>
    </div>
  </div>
</div>
