{% load i18n %}
{% load common_tags %}

{% if resource.resource_type == "V" %}
<video
  id="trapper-video-player"
  width="520"
  controls
  preload="auto"
  class="video-js">
  <source src="{{ resource.get_url }}" type="{{ resource.mime_type }}"/>
</video>
    
{% elif resource.resource_type == "A" %}
<audio controls>
  <source src="{{resource.get_url}}" type="{{resource.mime_type}}"/>
</audio>
    
{% elif resource.resource_type == "I" %}
<div id="div-img-bbox" data-src="{{ resource.get_url }}">
  <img id="img-bbox" src="{{ resource.get_url }}" data-bbox="{{ resource.data.observations | pretty_json }}"/>
</div>

{% else %}
Unrecognized resource
{% endif %}
