{% extends "media_classification/index.html" %}

{% load i18n common_tags %}

{% block data_app %}classification{% endblock %}
{% block ng_app %}ng-app="trapperGrid"{% endblock ng_app %}

{% block section_content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Classification project" %}</h2>
        </div>	
        <div class="panel-body">
          <h2>{{ project.name }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Research project" %}</h2>
        </div>
        <div class="panel-body">
          <h2>
            <span class="fa fa-flask"></span>
            <a href="{% url 'research:project_detail' pk=project.research_project.pk %}">
              {{ project.research_project.acronym }}
            </a>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Flags" %}</h2>
        </div>
        <div class="panel-body">
          <label class="control-label">{% trans "Sequences" %}:</label>
          <span class="label label-default">{{ project.enable_sequencing }}</span>
          <label class="control-label">{% trans "Status" %}:</label>
          <span class="label label-default">{{ project.get_status_display }}</span>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Actions" %}</h2>
        </div>
        <div class="panel-body" style="display: flex; gap: 1rem; flex-wrap: wrap;">
          {% if project.can_update %}
          <a href="{% url "media_classification:project_update" project.pk %}"
             class="btn btn-default" role="button">
            <span class="fa fa-pencil"></span> {% trans "Update" %}
          </a>
          <a href="{% url "media_classification:classification_import" project.pk %}"
             class="btn btn-default" role="button">
            <span class="fa fa-upload"></span> {% trans "Import results" %}
          </a>
          <a href="{% url "media_classification:classification_export" project.pk %}"
             class="btn btn-default" role="button">
            <span class="fa fa-download"></span> {% trans "Export results" %}
          </a>
          {% endif %}

          {% if project.is_project_admin and jupyter_hub_enabled %}
          <button
            id="open-notebook-btn"
            class="btn btn-default" role="button">
            <span class="fa fa-file-code-o" data-icon></span> {% trans "Open notebook" %}
          </button>
          {% csrf_token %}
          <div class="alert alert-danger" role="alert" id="notebook-error" style="display: none; flex: 1;">
          </div>
          <script>
            document.getElementById('open-notebook-btn').addEventListener('click', function(e) {
              e.preventDefault();
              document.getElementById('open-notebook-btn').disabled = true;
              const iconEl = document.querySelector('#open-notebook-btn [data-icon]');
              iconEl.classList.add('fa-spin', 'fa-cog');
              iconEl.classList.remove('fa-file-code-o');
              const url = "{% url 'media_classification:open_notebook' project.pk %}";
              const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
              document.getElementById('notebook-error').style.display = 'none';
              fetch(url, {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                  'X-CSRFToken': csrftoken
                }
              }).catch(response => {
                document.getElementById('notebook-error').style.display = 'block';
                document.getElementById('notebook-error').innerHTML = response;
              })
              .then(response => {
                if (!response.ok) {
                  document.getElementById('notebook-error').style.display = 'block';
                  response.json().then(data => {
                    document.getElementById('notebook-error').innerHTML = data.detail;
                  });
                } else {
                  response.json().then(data => {
                    const server_url = data.server_url;
                    console.log(server_url);
                    window.open(server_url, '_blank');
                  });
                }
              }).finally(() => {
                console.log('done');
                document.getElementById('open-notebook-btn').disabled = false;
                iconEl.classList.remove('fa-spin', 'fa-cog');
                iconEl.classList.add('fa-file-code-o');
              })
            });
          </script>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Project results" %}</h2>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group list-group-rich">
                {% with project.get_classification_stats as stats %}
                <li class="list-group-item">
                  <span
		    title="Number of resources with user classifications (approved)">
		    {% trans "User classifications" %}:
		  </span>
                  <strong>
		    {{ stats.classified }} ({{ stats.approved }})
		  </strong>
                </li>
                <li class="list-group-item">
                  <span 
                    title="Number of resources with AI classification (approved)">
		    {% trans "AI classifications" %}:
		  </span>
                  <strong>
		    {{ stats.classified_ai }} ({{ stats.approved_ai }})
		  </strong>
                </li>
                <li class="list-group-item">
                  <span 
                    title="Number of resources without classification">
		    {% trans "Unclassified" %}:</span>
                  <strong>
		    {{ stats.unclassified }}
		  </strong>
                </li>
                {% endwith %}
              </ul>
            </div>
	    {% if project.can_view_classifications %}
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12" style="padding: 2px">
                  <a
		    href="{% url 'media_classification:classification_list' pk=project.pk %}"
                    class="btn btn-success btn-block"
		    style="text-align: left">
                    <i class="fa fa-eye" style="margin-right: 5px"></i> {% trans "Classification results" %}
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"  style="padding: 2px">
                  <a
		    href="{% url 'media_classification:ai_classification_list' project_id=project.pk %}"
                    class="btn btn-primary btn-block" style="text-align: left">
                    <i class="fa fa-eye" style="margin-right: 5px"></i> {% trans "AI Classifications" %}
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"  style="padding: 2px">
                  <a
		    href="{% url 'media_classification:user_classification_list' pk=project.pk %}"
                    class="btn btn-success btn-block"
		    style="text-align: left">
                    <i class="fa fa-eye" style="margin-right: 5px"></i> {% trans "Users' classifications" %}
                  </a>
                </div>
              </div>
            </div>
	    {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading collapsable">
      <h2 class="panel-title">{% trans "Users in the project" %}</h2>
    </div>
    {% with project.get_user_roles_with_profiles as project_roles %}
    {% if project_roles %}
    <table class="table table-striped table-rich">
      <thead>
        <tr>
          <th></th>
          <th>{% trans "User" %}</th>
          <th>{% trans "Role" %}</th>
          <th>{% trans "E-mail" %}</th>
          <th>{% trans "Institution" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for role in project_roles %}
        {% with role.user.userprofile as user_profile %}
        <tr>
          <td>
            <a href="{% url 'accounts:show_profile' role.user %}">
              <img src="{{ user_profile.avatar_url }}" alt="{{ role.user.username }}"
                   class="img-thumbnail avatar-small" style="display:inline">
            </a>
          </td>
          <td>
            <a href="{% url 'accounts:show_profile' role.user %}">
	      {{ role.user|pretty_username }}
	    </a>
          </td>
          <td>{{ role.get_name_display }}</td>
          <td>
	    <a href="mailto:{{ role.user.email }}">
	      {{ role.user.email|default:"" }}
	    </a>
	  </td>
          <td>{{ user_profile.institution|default:"" }}</td>
          {% endwith %}
          {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endwith %}
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{% trans "Classificator" %}</h2>
    </div>
    <div class="panel-body">
      {% if project.classificator %}
      <a href="{% url 'media_classification:classificator_detail' pk=project.classificator.pk %}">{{ project.classificator.name }}</a>
      {% else %}
      There is no classificator assigned to this project.
      {% endif %}
    </div>
  </div>
</div>

<h2 class="container">{% trans "Collections" %}</h2>
{% with grid_context=collection_context %}
{% include 'media_classification/projects/detail_collection_grid.html' %}
{% endwith %}

{% endblock section_content %}
