{% extends "index.html" %}

{% load crispy_forms_tags %}
{% load common_tags %}
{% load tz %}
{% load i18n %}

{% block data_app %}user::edit{% endblock data_app %}

{% block main_menu %}{% nav_active 'menu_profile' %}{{ block.super }}{% endblock main_menu %}

{% block content %}
<div class="container">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{% trans "Account settings" %}</h2>
      </div>
      <form method="post" action="{% url 'accounts:mine_profile' %}" class="panel-body" enctype="multipart/form-data">
        {% crispy profile_form profile_form.helper %}
        <button type="submit" name="update-profile" class="btn btn-primary">{% trans "Save settings" %}</button>
      </form>
    </div>
  </div>

  <div class="col-md-6">

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Change password" %}</h2>
        </div>
        <form method='post' action="{% url 'accounts:mine_profile' %}" class="panel-body">
          {% crispy password_form password_form.helper %}
          <fieldset>
            <button type="submit" name="change-password" class="btn btn-warning">{% trans "Change password" %}</button>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Your working timezone" %}</h2>
        </div>
        <form method='post' action="{% url 'accounts:mine_profile' %}" class="panel-body">
          {% crispy timezone_form timezone_form.helper %}
          <fieldset>
            <button type="submit" name="set-timezone" class="btn btn-warning">{% trans "Set timezone" %}</button>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "API Authentication Token" %}</h2>
        </div>
        <div class="panel-body">
          {% if token %}
          <div class="alert alert-warning">
            {% trans "If you need to deactivate your current token, use the button below to generate a new one." %}
            {% trans "When using the token while accessing the API, remember that string 'Token ' is also part of the token necessary for authentification." %}
          </div>
          {% else %}
          <div class="alert alert-info">
            {% trans "Use the button below to generate API token." %}
          </div>
          {% endif %}
          <form method="post" action="{% url 'accounts:new_auth_token' %}">
            {% csrf_token %}
	    <a id="token" href="" token="{{ token }}" class="btn btn-default">
	      <span class="fa fa-share"></span> {% trans "Show token" %}
	    </a>
            <button type="submit" class="btn btn-warning">{% trans "Generate token" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock content %}
