{% load i18n crispy_forms_tags %}


<h3 class="collapsable active">{% trans "Define custom attribute" %}</h3>

<div>
    {% crispy custom_form custom_form.helper %}
    <button type="submit" class="btn btn-success" name="custom_attrs_manage">{% trans "Submit" %}</button>
    <button type="button" class="btn btn-default" data-clear>{% trans "Clear" %}</button>
</div>

<h3 class="collapsable">{% trans "Choose pre-defined attribute" %}</h3>
<ul class="panel-list">
    {% crispy predefined_form predefined_form.helper %}
</ul>




