{% extends "index.html" %}

{% load i18n %}

{% block content %}

<div>
  <h1>Error 403</h1>
  <p>
    {% trans "We are sorry but " %}<br>
    {% trans "YOU DO NOT HAVE PERMISSION TO VISIT THIS PAGE." %}
  </p>
</div>

{% endblock content %}
