{% load i18n crispy_forms_tags %}

<form action="" method="post" enctype="multipart/form-data" class="panel-body">
  <p class="alert alert-warning">
    <span class="fa fa-info"></span>
    Using this action you can import the basic classification data (standard attributes e.g. observation type, species, sex, age, count)
    from resources metadata to the current classification project.
  </p>
  {% crispy form form.helper %}
  <fieldset>
    <button type="submit" class="btn btn-primary">{% trans "Run" %}</button>
  </fieldset>
</form>
